@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ganapati Feeds and Fertilizers is a supplier of agricultural fertilizers and feeds for domestic farming animals.</p>
